body {
  background-color: pink;
}

main {
  width: 30%;
  border: 1px solid black;
  
  margin: auto;
}
main h1, h2 {
  text-align: center;
  
}








/*
table, tr, td, thead  {
  padding: 15px;
}

thead {
  font-weight: bold;
}
*/

